.gitattributes
.ipynb_checkpoints/
references/
GRAPHICAL/
DATA
etc/
admin/admin.org
admin/2021-Jan-Graduate-Research-Candidate-Guide-1.2.pdf
admin/Department of Justice : Statutory Declaration.pdf
admin/Funding/
admin/HDR_PoliciesProcedures/
admin/IMAS/
admin/ManagingYourResearch/
admin/UTas_PhD_Offer_Letter_2021.pdf
admin/admin.md
admin/expense_reimbursements/
admin/invoices/
admin/meetings.md
admin/snappy_headshot.jpg
admin/travel/
courses/
notes/
presentations/
research/_minted-grounded_icebergs/14BEE328FE6848C0433345AF77EFD300685BE7B9256B973C6FE57F12789B213A.pygtex
research/
src/CICE/
research/auto/
src/python/.gitignore
src/python/.ipynb_checkpoints
src/python/custom.cpt
src/python/__pycache__etc
references/refs_bbt.bib
src/python/__pycache__
src/CICE_6p4/CONTRIBUTING.md
src/CICE_6p4/DistributionPolicy.pdf
src/CICE_6p4/LICENSE.pdf
src/CICE_6p4/README.md
src/CICE_6p4/afim_025_era5_aom2
src/CICE_6p4/afim_025_jra55do_aom2
src/CICE_6p4/afim_025_jra55do_bran_ncar
src/CICE_6p4/afim_era5
src/CICE_6p4/afim_sa
src/CICE_6p4/caselist
src/CICE_6p4/caselist.230705-070658
src/CICE_6p4/caselist.230824-101502
src/CICE_6p4/caselist.230825-204647
src/CICE_6p4/cice.setup
src/CICE_6p4/cicecore
src/CICE_6p4/codecov.yml
src/CICE_6p4/configuration
src/CICE_6p4/doc
src/CICE_6p4/icepack
