.gitattributes
.ipynb_checkpoints/
references/
GRAPHICAL/
DATA
etc/
admin/admin.org
admin/2021-Jan-Graduate-Research-Candidate-Guide-1.2.pdf
admin/Department of Justice : Statutory Declaration.pdf
admin/Funding/
admin/HDR_PoliciesProcedures/
admin/IMAS/
admin/ManagingYourResearch/
admin/UTas_PhD_Offer_Letter_2021.pdf
admin/admin.md
admin/expense_reimbursements/
admin/invoices/
admin/meetings.md
admin/snappy_headshot.jpg
admin/travel/
courses/
notes/
research/_minted-grounded_icebergs/14BEE328FE6848C0433345AF77EFD300685BE7B9256B973C6FE57F12789B213A.pygtex
src/CICE/
research/auto/
src/python/.gitignore
src/python/.ipynb_checkpoints/149014799b0e4361bb20c311fcda417e-checkpoint.pdf
src/python/.ipynb_checkpoints/Untitled-checkpoint.ipynb
src/python/custom.cpt
src/python/.ipynb_checkpoints/cice_analysis-checkpoint.ipynb
src/python/__pycache__etc/20230708_cice6p4_1yr_bran_mld50m/cice.runlog.230708-093325
